Package: com.blablabla.joyboymodmenu
Name: JoyBoyModMenu
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Mon premier Mod Menu
Maintainer: blablabla-texh
Author: blablabla-texh
Section: Tweaks
